version: '3.9'

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: ecommerce
      POSTGRES_PASSWORD: ecommerce123
      POSTGRES_DB: ecommerce_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - ecommerce-net

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    networks:
      - ecommerce-net
  app:
    build: .
    depends_on:
      - postgres
      - redis
    ports:
      - "8080:8080"
    networks:
      - ecommerce-net


networks:
  ecommerce-net:

volumes:
  pgdata:
